*{
    margin: 0;
    padding: 2px;
    
}
body{
    background-image:url(/img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
    text-align: center;
    
}

    

.container{
   display: flex;
    width: 750px;
    height: 770px;
    margin-left: 330px;
    background-color: rgba(240, 248, 255, 0.349);
    text-align: center;
    
}
.logoDerecha{
    margin-top: 200px;
    padding: 50px;
    
    
    
}
img{
    width: 180%;
}
.eleccion{
    display: flex;
    text-align: center;
    justify-content: center;

}
.registro{
    margin-top: 50px;
    text-align: center;
}
.registro .registro2{
    display: inline-block;
    padding-top: 30px;
    
    margin-left: 120px;
    text-align: left;
    

   
}
button{
    background-color: red;
    color: aliceblue;
    width: 200px;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0);
}
